<%- include('partials/header') -%>

<section class="mainSec">
  <div class="opacity"></div>
  <div class="container col-xxl-8 px-4 py-5 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVjaXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Recipes by the community</h1>
        <p class="lead">Explore and upload your favorite recipes!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-success btn-lg">
            Signup
          </a>          
        </div>
      </div>
    </div>
  </div>
</section>

  

<%- include('partials/footer') -%>